.home__hero__section {
  border: 1px solid rgb(155, 71, 11);
}

.home__media__pagination {
  border: 1px solid black;
}

.media__wrapper {
  display: flex;
}
.hero-section {
  position: relative;
}

.slideshow {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.slide img {
  width: 60%;
  height: auto;
}

.slide h2 {
  font-size: 24px;
}

.slide p {
  font-size: 16px;
}
.slide.active {
  opacity: 0;
}

.controls__wrapper {
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 35%;
}

.controls {
  display: flex;
  justify-content: center;
}

:root {
  --dimensions: 50px;
}

.controls > button {
  cursor: pointer;
  background-color: inherit;
  color: black;
  border: 5px solid rgb(235, 225, 225);
  border-radius: 15px;
  width: var(--dimensions);
  height: var(--dimensions);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}

:root {
  --buttons: 2.5%;
}

.previous__median__pagination {
  left: var(--buttons);
}
.next__median__pagination {
  right: var(--buttons);
}
