.home__hero__section,
.home__media__pagination {
  border: 1px solid red;
}

.media__wrapper {
  display: flex;
}

.hero-section {
  position: relative;
  background-color: whitesmoke;
}

.slideshow {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  opacity: 0.85;
  cursor: pointer;
}

.slide img {
  width: 90%;
  height: 70%;
  border-radius: 10px;
}

.slide:nth-child(2),
.slide:hover {
  opacity: 1;
  transform: translateY(-2%);
  transform: scale(110%);
}

.controls__wrapper {
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 35%;
}

.controls {
  display: flex;
  justify-content: center;
}

:root {
  --dimensions: 50px;
  --buttons: 2.5%;
}

.controls > button {
  cursor: pointer;
  background-color: inherit;
  color: black;
  border: 5px solid rgb(235, 225, 225);
  border-radius: 15px;
  width: var(--dimensions);
  height: var(--dimensions);
  font-size: 30px;
  font-weight: bold;
  position: absolute;
}

.previous__median__pagination {
  left: var(--buttons);
}

.next__median__pagination {
  right: var(--buttons);
}

.slide__stats > * {
  margin-left: 15px;
}

.slide__stats {
  width: 90%;
  position: relative;
  border-bottom: 2.5px solid rgb(196, 119, 84);
  border-radius: 12px;
}

.slide__stats::before,
.slide__stats::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgb(250, 225, 208) 80%,
    transparent
  );
}

.slide__stats::before {
  left: 0;
}
.slide__stats::after {
  right: 0;
}
