.dashboard__streamer__broadcast__wrapper {
  background-color: red;
  height: 755px;
  width: 1340px;
}

.dashboard__streamer__broadcast__player {
  height: inherit;
  width: inherit;
}

.media__config__wrapper{
  border: 1px solid black;
}


.media__config {
  display: flex;
  align-items: center;
}
.media__config > * {
  margin: 5px;
}
