.dashboard__streamer__broadcast__wrapper {
  background-color: red;
  width: 1340px;
  height: 755px;
}

.dashboard__streamer__broadcast__player {
  height: inherit;
  width: inherit;
}

.dashboard__stream__broadcast__options__wrapper {
  border: 1px solid red;
  background-color: #222831;
  color: whitesmoke;
  padding: 0.7rem;
}

/* ############################ */

button[disabled]{
  opacity: 0.4;
}

button {
  cursor: pointer;
}

button.broadcast {
  padding-bottom: 3px;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  background-color: #233142;
  margin: 0.5rem;
  border: none;
  outline: none;

  height: 55px;
  width: 250px;

  border-radius: 15px;
}

button.broadcast:hover {
  box-shadow: 0 2px 8px -1px #233142;
}

#start:hover {
  background-color: green;
}

#stop:hover {
  background-color: red;
}

/* ############################ */
.on__air {
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-icon {
  display: inline-block;
  margin: 0 auto;
  border-radius: 50%;
  background: red;
  width: 20px;
  height: 20px;
  animation: live 2s infinite;
}

.text {
  display: inline-block;
  text-align: center;
  color: red;
  font-family: arial;
  font-weight: bold;
  position: relative;
  left: 5px;
}

@keyframes live {
  0%,
  100% {
    background: none;
  }
  50% {
    background: red;
  }
}

.pre__broadcast__options {
  border: 1px solid black;
}

.media__config {
  display: flex;
}

.media__config > * {
  padding: 0.3rem;
}
