* {
  padding: 0;
  margin: 0;
}

body {
  /* background-color: whitesmoke; */
  background-color: white;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

.content__wrapper {
  display: flex;
}

/* .content {
  display: grid;
  grid-template-columns: 240px auto 290px; 
  height: 200vh; 
  gap: 5px; 
}

.section {
  position: relative;
  border: 1px solid black;
}

button {
  cursor: pointer;
} */

.hidden-link {
  text-decoration: none;
  color: inherit;
}
