* {
  padding: 0;
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 160px auto 0.5fr; /* Create three equal-width columns */
  height: 100vh; /* Set the height as needed */
  gap: 5px; /* Add gap between sections if desired */
}

div.left__body {
  width: 160px;
}

.section {
  position: relative;
  border: 1px solid black;
}

button {
  cursor: pointer;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}