.left__body__element {
  border-top: 2.5px solid rgb(207, 207, 207);
}

.channels__list__element > a {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px; /*Adjust the margin as needed */
  cursor: pointer;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

.metadata {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-right: 20px;
}

.metadata > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user__name {
  font-weight: bold;
}

.category {
  font-size: small;
}

div.viewer__count {
  width: 100%;
}

div.viewer__count > p {
  font-size: small;
  direction: rtl;
  text-align: right;
}

.pfp {
  padding: 10px;
}

a.discover__followers {
  color: #007bff; /* Link color */
  text-decoration: none; /* Remove underline */
}

a.discover__followers:hover {
  text-decoration: underline 3px solid; /* Add underline on hover */
}

a.discover__followers:visited {
  color: #597ab6; /* Visited link color */
}

a.discover__followers:focus {
  outline: none; /* Remove focus outline */
}
