.channels__list__element > a {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 10px; /*Adjust the margin as needed */
  cursor: pointer;
}

.hidden-link {
  text-decoration: none;
  color: inherit;
}

.metadata {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding-right: 20px;
  
}

.metadata > p{
overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.user__name {
  font-weight: bold;
}

.category {
  font-size: small;
}

div.viewer__count{
  width: 100%
}

div.viewer__count > p {
  font-size: small;
  direction: rtl;
  text-align: right;
}

.pfp {
  padding: 10px;
}

/* .viewer__count {
  display: flex;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.metadata > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div.viewer__count > p {
  position: absolute;
  left: 80%;
  font-size: small;
}
*/


