.discover__title {
  padding: 40px;
}

.video-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  grid-column-gap: 20px; /* Adjust the gap between squares as needed */
  grid-row-gap: 100px; /* Adjust the gap between squares as needed */
}

.video-grid-item {
  background-color: #f0f0f0; /* Adjust the background color as needed */
  border: 1px solid #000; /* Adjust the border styles as needed */
  border-radius: 12px;
  padding: 5px; /* Adjust the padding as needed */
  height: 160px;
  width: 300px;
}
