.video-grid-container {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(
    4,
    auto
  ); /* Adjust the number of columns as needed */
  grid-column-gap: 20px; /* Adjust the gap between squares as needed */
  grid-row-gap: 80px; /* Adjust the gap between squares as needed */
}

.video-grid-item.true {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.video-grid-item.true,
.video-grid-item {
  background-color: #f0f0f0;
  border: 0.2em solid #e6e6e6;
  border-radius: 10px;
  padding: 5px;
  height: 160px;
  width: 300px;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 172, 252, 0);
  transition: box-shadow 0.3s;
  margin-bottom: 8px;
  background: linear-gradient(
    to bottom right,
    rgb(0, 255, 179) 20%,
    rgb(153, 0, 255) 50%
  );
}

.video-grid-container :hover > .video-grid-item {
  border-radius: 3px;
  translate: 1% -1%;
  transform: scaleY(103%);
  transform: scaleX(103%);
  margin-bottom: 5px;
  animation: radiate 3.5s infinite;
}

@keyframes radiate {
  0% {
    box-shadow: 10px 0 0 rgba(0, 172, 252, 0);
  }
  50% {
    box-shadow: 0 0 30px rgba(0, 172, 252, 0.5);
  }
  100% {
    box-shadow: 0 15px 0 rgba(0, 172, 252, 0);
  }
}

#randomColorElement:hover {
  border: 0.2em solid var(--random-color);
  transition: border 3s;
}

#randomColorElement:hover {
  --random-color: #afdcf79a; /* Set a specific color on hover */
}

@keyframes randomColorAnimation {
  0% {
    --random-color: #c2d0ff;
  }

  100% {
    --random-color: #7ccfff9a;
  }
}

.animatedRandomColor:hover {
  animation: randomColorAnimation 3s infinite alternate;
}

.discover__metadata {
  display: flex;
  padding: 10px;
  border-radius: 0px 0px 15px 7px;

  background: linear-gradient(to top, rgb(236, 234, 234), whitesmoke, #ffffff);

  box-shadow: 0px 3px 0px 1px rgb(245, 245, 245);
  opacity: 0.85;
  font-weight: bolder;
  cursor: pointer;
}

.video-grid-container :hover > .discover__metadata {
  opacity: 1;
  font-weight: bold;
}

.discover__stats {
  margin-left: 20px;
}

img {
  height: inherit;
  width: inherit;
}
